/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active {
  font-weight: 500;
}
.opacityFull {
  opacity: 100;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

/*Animations*/
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*Custom*/
.znegative {
  z-index: -100;
}
.z120 {
  z-index: 120;
}
.z110:hover {
  z-index: 100;
}
br {
  content: '';
  display: block;
  margin: 1.5rem;
}
.roundedblg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/*Loader-spinner*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
